.gradle
/local.properties
/.idea/workspace.xml
/app/app.iml
/.idea/misc.xml
/.idea/gradle.xml
/.idea/libraries
.DS_Store
/build
build.gradle
gradle.properties
gradlew
local.properties
MyPlanner.iml
settings.gradle
