<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shashankgoud.myplanner" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeScreenActivity"
            android:label="@string/title_activity_home_screen" >
        </activity>
        <activity
            android:name=".ForgotPassword"
            android:label="@string/title_activity_forgot_password" >
        </activity>
        <activity
            android:name=".PasswordSent"
            android:label="@string/title_activity_password_sent" >
        </activity>
        <activity
            android:name=".Customize_Updates"
            android:label="@string/title_activity_customize__updates" >
        </activity>
        <activity
            android:name=".MyPack_Customization"
            android:label="@string/title_activity_my_pack__customization" >
        </activity>
        <activity
            android:name=".MyPack_Updates"
            android:label="@string/title_activity_my_pack__updates" >
        </activity>
        <activity android:name=".CourseCustomization" >
        </activity>
        <activity android:name=".piazza_redirect" >
        </activity>
        <activity android:name=".MoodleRedirect" >
        </activity>
        <activity android:name=".CourseWebsiteRedirect" >
        </activity>
        <activity android:name=".CourseUpdates" >
        </activity>
        <activity android:name=".PiazzaRedirect" >
        </activity>
        <activity android:name=".MyPackRedirect" >
        </activity>
    </application>

</manifest>
